# Python
venv/
.venv/
__pycache__/
*.pyc
*.pyo

# Environnement
.env
.env.*

# Base de données
*.db
*.sqlite

# ChromaDB
chroma_db/
chroma_db_diag/
chroma_db_miniLM384/

# Uploads
uploads/

# Java
target/
*.class
*.jar

# Node
node_modules/

# IDE
.vscode/
.idea/
